body { 
	background:url(/images/wood.jpg) repeat;
	*padding-bottom:30px;
}
#wrap {
	width:820px;
	margin:30px auto;
	height:auto;
	background-color:#f1f1f1;
	-moz-border-radius:10px; /* Firefox */
    -webkit-border-radius:10px; /* Safari and Chrome */
    border-radius:10px; 
	-moz-box-shadow:0px 0px 17px 7px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:0px 0px 17px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 17px 7px rgba(0, 0, 0, 0.3);
}
.page_head {
	margin:0px 40px;
	height:65px;
	border-bottom:1px solid #cccccc;
	font-size:14px;
	
}
.nav {
	padding-left:25px;
	width:450px;
	float:left;
	color:#999999;
	line-height:30px;
	margin-top:25px;
	background:url(/images/minilogo_03.gif) left center no-repeat;
}
.nav a {
	color:#999999;
}
.nav a:hover{
	color:#333333;
}
.share {
	width:220px;
	float:right;
	text-align:right;
	color:#999999;
	line-height:30px;
	margin-top:25px;
}

.page_main {
	padding:0px 40px 20px 40px;
}
h1.index_title {
	width:inherit;
	height:30px;
	line-height:30px;
	margin-top:40px;
	text-align:center;
	font-size:24px;
	font-weight:bold;
	color:#495163;
}
.index_info {
	margin:15px 0px;
	width:inherit;
	text-align:center;
	height:30px;
	line-height:30px;
	color:#999999;
}
.section_title {
	padding-left:20px;
	width:705px;
	height:35px;
	line-height:35px;
	border-left:15px solid #d88200;
	background-color:#dfdfdf;
	color:#333333;
	font-size:14px;
	font-weight:bold;
	float:left;
}
.section_list {
	width:740px;
	height:auto;
	padding:15px 0px;
}
.section_list li {
	float:left;
	width:370px;
}
.section_list li a {
	
	padding-left:20px;
	
	color:#666666;
	line-height:28px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.section_list li a:link {
	color:#666;
}
.section_list li a:visited {
	color:#999;
}
.section_list li a:hover {
	color:#c16100;
}
.copyright {
	margin:0 auto;
	width:800px;
	text-align:center;
	line-height:25px;
	color:#999999;
	padding-bottom:20px;
}
.copyright a{
	color:#666;
}
.copyright a:hover{
	color:#d88200;
}