@charset "gb2312";
/* CSS Document */

* { margin:0; padding:0}
body{ font:12px "微软雅黑", "宋体";
background-image: url("http://www.chaoliuyc.com/template/newchaoliu/images/newimages/xiegang_bg.jpg");}
.clear {
     clear: both;
     height:1px;
     margin-top:-1px;
     overflow:hidden;
}
ol,ul { list-style:none;}
img {border:none;}
a {outline:none; text-decoration:none; color:#333333}
table { border-collapse:collapse; border-spacing:0;}
.box,#nav{
  -moz-border-radius:2px; /* Firefox */
  -webkit-border-radius:2px; /* Safari and Chrome */
  border-radius:2px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
 
  -moz-box-shadow:1px 6px 12px -6px rgb(198, 198, 198); /* Firefox */
  -webkit-box-shadow:1px 6px 12px -6px rgb(198, 198, 198); /* Safari and Chrome */
  box-shadow:1px 6px 12px -6px rgb(198, 198, 198); /* Opera 10.5+, future browsers and IE6+ using IE-CSS3 */
 
  /*behavior: url(http://building-dreams.com/mywork/ie-css3.htc);*/ /* This lets IE know to call the script on all elements which get the 'box' class */
  background-color:white;
}
#top {
	height:30px;
	background:url(../images/top_bg_02.gif) repeat-x top center;
	}
.top_inner {
	width:960px;
	margin:0 auto;
	text-align:right;
	}
.top_inner a {
	line-height:30px;
	color:#666666;}

#header {
    width:960px;
    height:100px;
    margin:0 auto;
    }
.header_l,.header_m{
    float:left;
}
.logo{
    display:block;
    margin-top:21px;
    width:229px;
    height:57px;
}
.header_m {
    margin:32px 0 0 45px;
}
.header_r {
float:right;
width:247px;
height:69px;
padding-top:18px;
}
.search-l {
    width:360px;
    height:25px;
    border:none;
    background:url(http://www.chaoliuyc.com/template/newchaoliu/images/newimages/search_l_09.gif) no-repeat left top;
    text-indent:1em;
    color:#999999;
    *float:left;
    line-height:25px;
}
.search-r {
    width:25px;
    height:25px;
    border:none;
    vertical-align:bottom;
}
.remensousuo {
    color:#999999;
    line-height:28px;
}
.remensousuo a {
    color:#999999;
}
.remensousuo a:hover{
    color:rgb(228, 57, 60);
}


#nav {
	height:40px;
	background:url(../images/nav_bg.gif) repeat-x left top;

	font: bold 15px/40px "微软雅黑", "宋体";
}
.nav_ul {
	width:960px;
	margin:0 auto;
}
.nav_ul li {
	float:left;
	display:block;
	height:40px;
	
}
.nav_ul li a{
	padding:0 15px 0 15px;
	float:left;
	display:block;
	color:#fff2e2;
	cursor:pointer;
}
.nav_ul .zuozhefuli a{
    color:#FF0;
}
.nav_ul .shouye a { 
	color:#571b09;
	background:url(../images/nav_bg_05.png) repeat-x top left;
	}
.nav_ul li a:hover { 
	color:#571b09;
	background:url(../images/nav_bg_05.png) repeat-x top left;
	}
.sub_nav {
	border-bottom:1px solid #cdcdcd;
	background:#fdfaed;
}
.sub_nav_inner {
	padding-left:15px;
	width:945px;
	margin:0 auto;
	height:34px;
	color:#ab1430;
	font: bold 12px/35px "微软雅黑", "宋体";
}
.sub_nav a {
	font-weight:normal;
	padding-left:5px;
	*padding-left:6px;
	color:#666;
	}
.sub_nav a:hover {
	color:#ab1430;
	text-decoration:underline;
	}
#main {
	margin-top:10px;
	/*background-color:#f1f4f9;*/
}
.main_inner {
	width:960px;
	margin:0 auto;
}

.grey {
	color:#999999;
	padding-right:5px;
}
.red {
	color:red;
	padding-right:2px;
}
.dianji a{
	display:block;
	text-indent:2em;
	padding-top:5px;
	color:red;
}
#maincon {
	width: 960px;
	background:url(../images/maincon_bg_03.gif) repeat-y right top;
	border: 1px solid #dddddd;
	margin-top: 10px;
}
#maincon_l {
	width:720px;
	float:left;
	padding-bottom:25px;
	background-color:#fff;
}
.book_info_top {
	position:relative;
	height:530px;
	padding:28px 25px 0px 25px;
	overflow:hidden;
	}
.book_info_top_l {
	width:220px;
	height:460px;
	float:left;
} 
.book_info_top_r {
	float:left;
	width:450px;
}
.book_xingzhi {
	position:absolute;
	top:0;
	right:18px;
}
.book_image {
	width:200px;
	height:265px;
	border:2px solid #bdbdbd;
}
.book_title {
	width: 450px;
}

.book_name a {
	font-size:22px;
	color:#7a1023;
	float:left;
}
.author {
	float:left;
	font-size:14px;
	padding:13px 0px 0px 20px;
}
.gezhongxinxi {
	margin-top: 20px;
	position: relative;
	width: 449px;
	height: 30px;
	border-left: 1px solid #dbdee1;
	border-bottom: 1px solid #dbdee1;
}
.gezhongxinxi li{
	float:left;
	width:80px;
	height:30px;
	border-right: #dbdee1 1px solid;
	border-top: #dbdee1 1px solid;
}
.xinxi_title{
	line-height:30px;
	text-align:center;
	font-weight:bold;
}
.xinxi_content {
	position:absolute;
	top:32px;
	left:0px;
	height:220px;
	width:450px;
}
.gezhongxinxi .zuopinjianjie .xinxi_content {
	padding-top:5px;
	color:#666666;
	line-height:24px;
	text-indent:2em;
	text-align:justify;
	font-weight:normal;
	overflow:hidden;
}
.jianjieneirong {
	height:150px;
	overflow:hidden;
}
.tixing,.biaoqian {
	padding-top:4px;
	font-weight:bold;
	font-size:12px;
	text-indent:2em;
	color:#666666;
}
.biaoqian a {
	padding-left:5px;
	color:#666666;
	cursor:pointer;
}
.biaoqian a:hover {
	color:#ab1430;
}
.zuopinxinxi .xinxi_content  {
	padding-top:20px;
}
.zuozhexinxi .xinxi_content  {
	color:#666666;
}
.zuozhexinxi .xinxi_content dt {
	padding-top:20px;
	font-weight:bold;
}
.zuozhexinxi .xinxi_content dd {
	padding-top:10px;
	line-height:30px;
}
.zuozhexinxi .xinxi_content dd a{
	padding-right:10px; 
	color:#ab1430;
}
.gezhongxinxi .update_time{
	height:30px;
	width:205px;
	border-right:none;
	border-top:none;
	line-height:30px;
	color:#999999;
	text-align:right;
}
.zuopinxinxi .xinxi_content li {
	width:130px;
	border:none;
	color:#666666;
	text-align:left;
}
.gezhongpiao {
	padding-top:10px;
	height:175px;
	overflow:hidden;
	width:220px;
}
.gezhongpiao li {
	float:left;
	margin:7px 18px 0px 0px;
	height:29px;
	width:92px;
}
.gezhongpiao li a {
	display:block;
	float:left;
	width:92px;
	height:29px;
	
}
.woyaodashang {
	background: url(../images/dashang.gif) no-repeat left top;
}
.woyaodashang:hover {
	background: url(../images/dashang.gif) no-repeat left bottom;
}
.zengsongxiancao {
	background: url(../images/xiancao.gif) no-repeat left top;
}
.zengsongxiancao:hover {
	background: url(../images/xiancao.gif) no-repeat left bottom;
}
.toutuijianpiao {
	background: url(../images/tuijian.gif) no-repeat left top;
}
.toutuijianpiao:hover {
	background: url(../images/tuijian.gif) no-repeat left bottom;
}
.wotouyuepiao {
	background: url(../images/yuepiao.gif) no-repeat left top;
}
.wotouyuepiao:hover {
	background: url(../images/yuepiao.gif) no-repeat left bottom;
}
.gezhonganniu {
	width:450px;
}
.gezhonganniu li {
	padding: 227px 0px 0px 8px;
	float: right;
}
.gezhonganniu li a{
	display:block;
	width:114px;
	height:41px;
}
.dianjiyuedu a {
	background:url(../images/yuedu_03.gif) left top no-repeat;
}
.dianjiyuedu  a:hover{
	background:url(../images/yuedu_03.gif) left bottom no-repeat;
	position:relative;
	left:1px;
	top:1px;
}
.xiaoshuomulu a {
	background:url(../images/mulu_03.gif) left top no-repeat;
}
.xiaoshuomulu  a:hover{
	background:url(../images/mulu_03.gif) left bottom no-repeat;
	position:relative;
	left:1px;
	top:1px;
}
.shoucangbenshu a {
	background: url(../images/shoucang_03.gif) left top no-repeat;
}
.shoucangbenshu a:hover{
	background:url(../images/shoucang_03.gif) left bottom no-repeat;
	position:relative;
	left:1px;
	top:1px;
}
.shidu {
	width:670px;
	padding:20px 0px 0px 25px;
}
.shidu_title {
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#ab1430;
	border-bottom:1px solid #cccccc;
	text-align:left;
}
.shidu_title a {
	padding-bottom:10px;
	border-bottom:2px solid #ab1430;
}
.shidu dl {
	border-left:24px solid #ececec;
	border-right:24px solid #ececec;
	border-bottom:1px solid #ececec;
}

.zishu {
	color:#999999; 
	padding-left:10px; 
	font-weight:normal;
}
.new_zhangjie1 .dt_l {
	display:block;
	float:left;
	color:#ab1430;
	font-size:14px;
}
.new_zhangjie1 .dt_r {
	display:block;
	float:right;
	color:#999999;
	font-weight:normal;
}
.new_zhangjie1 dt {
	padding:15px 24px 10px 24px;
	font-weight:bold;
	height:21px;
	overflow:hidden;
}
.new_zhangjie1 dd {
	padding:0px 24px 10px 24px;
	color:#666666;
	line-height:24px;
	text-align:justify;
	text-indent:2em;
	overflow:hidden;
}
.new_zhangjie2 .dt_l {
	display:block;
	float:left;
}
.new_zhangjie2 .dt_r {
	display:block;
	float:right;
	color:#999999;
	font-weight:normal;
}
.new_zhangjie2 dt {
	padding:10px 24px 10px 24px;
	font-weight:bold;
}
.new_zhangjie2 dd {
	display:none;
}
.hudong_title {
	width:670px;
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#ab1430;
	border-bottom:1px solid #cccccc;
	margin:20px 0px 20px 25px;;
}
.hudong_title a {
	padding-bottom:10px;
	border-bottom:2px solid #ab1430;
}
.pinglunqu {
	width:670px;
	padding:10px 25px 0px 25px;
}
.pinglunkuang {
	width: 630px;
	padding: 20px;
	background: url(../images/pinglun_bg_03.jpg) left top no-repeat;
	/* [disabled]border-bottom:1px solid #f2f2f2; */
}
.avatar,.pinglunkuang_r {
	float:left;
	
}
.avatar img {
	border:1px solid #feffe6;
	border-radius:25px;
}
.biaoti {
	float:left;
	padding-left:8px;
	width: 578px;
	height: 20px;
	line-height: 20px;
	margin-bottom: 10px;
	font-size: 12px;
	letter-spacing: 1px;
	color: #666666;
}
.biaoti_title,.duihuakuang_title{
	width:40px;
	float:left;
}
.duihuakuang {
	width:572px;
	height:70px;
	padding:8px;
	font-size:12px;
	letter-spacing:1px;
	color:#666666;
	float:left;
	margin-bottom:5px;
}
.submit img {
	vertical-align:bottom;
}
.tijiao,.submit img,.yanzhengma{
	float:right;
	display:block;
	margin-top:5px;
	vertical-align:middle;
}
.yanzhengma {
	height:22px;
	line-height:22px;
	padding-right:10px;
}
.yzm_txt {
	width:60px;
}
.submit img {
	padding-right:5px;
}
.shupingqu_title {
	width:670px;
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#ab1430;
	border-bottom:1px solid #cccccc;
	margin:20px 0px 20px 0px;;
}
.shupingqu_title a {
	padding-bottom:10px;
	border-bottom:2px solid #ab1430;
}
.quanbupinglun_title {
	padding-bottom:10px;
	height:18px;
}
.qbpl_l {
	float:left;
	width:150px;
	font-weight:bold;
	font-size:14px;
}
.fubanzhu {
	width:260px;
	float:right;
	text-align:right;
	line-height:26px;
}
.pinglunshu {
	padding:0px 5px;
	color:#ab1430;
}
.comment li {
	padding:20px 15px 15px 15px;
	background: url(../images/pinglun_bg_03.jpg) left top no-repeat;
}
.comment_r {
	width:570px;
	float:left;
	margin-left:20px;
	text-align:justify;
}
.pinglun_f1 {
	height:27px;
	background:url(../images/pl_fengexian_03.gif) repeat-x left 25px;
}
.comment_con {
	line-height:24px;
}
.fensidengji{
    display: block;
    padding-top: 10px;
}
.commenter {
    width: 450px;
    float: left;
	height:20px;
	line-height:20px;
}
.commenter img,.pinglun_f2 img{
	margin-top:-2px;
	vertical-align:middle;
	margin-left: 5px;
}
.pinglunzhe {
    font-size: 14px;
    font-weight: bold;
	/*color:#ab1430;*/
}

.floor {
    width: 50px;
    text-align: right;
    float: right;
	
    font-weight: bold;
	color:#ab1430;
}
.pinglun_f2 {
	/*height:30px;*/
	line-height:30px;
}
.pinglun_f2 span{
	font-size:14px;
	font-weight:bold;
}
.pinglun_f2 span a{
	color:rgb(37, 37, 37);
}
.pinglun_f2 span a:hover{
	position:relative;
	left:1px;
	top:1px;
}
.pinglun_f3 {
	padding-top:5px;
}
.date {
	width:120px;
	float:left;
	color:#999999;
}
.support {
	float:right;
	width:400px;
	text-align:right;
	color:#999999;
}
.support a {
	padding:0px 6px;
	color:#999999;
}
.support a:hover {
	color:#ab1430;
}
.zuozhehuifu {
	margin-top:10px;
	width:473px;
	padding:15px 15px 15px 80px;
	background:url(../images/yinhao_03.png) 17px 17px no-repeat #f2f2f2;
	border:1px dashed #cccccc;
	color:#666666;
	line-height:24px;
}
.zuozhehuifu dd {
	padding-top:5px;
}




.maincon_r {
	width:230px;
	float:right;
}

.zztj_list li a{
	line-height:31px;
	color:#333333;
	padding-left:50px;
}

.green {
	font-size:12px;
	padding-left:10px;
	color:#666666;
}

#footer {
	width:960px;
	margin:0 auto;
}
#youqinglianjie {
	width:928px;
	border:1px solid #d3d3d3;
	margin-top: 10px;
	background:url(../images/yqlj_75.png) #FFF no-repeat 15px 15px;
	padding:53px 15px 10px 15px;
	line-height:28px;
	color:#666666;
	letter-spacing:2px;
}
.copyright {
	margin:10px 0 20px 0;
	width:960px;
	text-align:center;
	line-height:25px;
	color:#999999;
}




/*新的css*/



.duzhedongtai,.fensibang,.zuozhetuijian,.tongleizuopin{
	padding-top:10px;
}
.duzhe_title,.fensi_title,.zztj_title,.tlzp_title{
	margin:5px 20px 10px 20px;
	color:#ab1430;
	font-size:16px;
	font-weight:bold;
	padding-bottom:10px;
    border-bottom:2px solid #e1dbc9;
}
#yuepiaobang {
	padding-bottom:20px;
}
#xiancaobang {
	padding-bottom:20px;
}
#dongtai_list {
	padding:0px 20px;
	margin-bottom:20px;
	height:230px;
	overflow:hidden;
	
}
#dongtai_list li{
	border-bottom:1px dashed #cccccc;
	padding:5px 0px;
	height:35px;
	vertical-align:middle;
	overflow:hidden;
}
.dongtai_list_l {
	width:120px;
	height:35px;
	float:left;
	color:#666666;
}
.dongtai_list_r {
	float:right;
	height:35px;
}
.dongtai_list_r img {
	border-radius:18px;
}
.duzhe {
	color:#692e0c;
	font-weight:bold;
}
.dongtai span{
	color:red;
}
.dongtai_btn {
	padding:10px 20px;
	width:190px;
}
.dongtai_btn a {
	display: block;
	float: left;
	width: 80px;
	/* [disabled]height:26px; */
	cursor: pointer;
	padding: 7px;
}
.fensi_table {
	width:190px;
    table-layout: fixed;
	margin:0px 20px;
}
.fensi_table tr{
	height:25px;
	line-height:25px;
}
.fensi_table th{
	color:#666666;
}
.paiming,.nicheng,.level {
	text-align:left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.paiming {
	width:18%;
}
.nicheng {
	width:50%;
}
.nicheng a {
	color:#3e6467;
}
.nicheng a:hover {
	color:rgb(171, 20, 48);
	text-decoration:underline;
}
.level {
	width:32%;
	text-align:right;
	color:#fa940f;
}
.fensi_bottom{
	border-top:1px solid #cccccc;
	margin:10px 20px;
	padding:10px 0px;
}
.fensi_b_l {
	width:185px;
	float:left;
}
.fensi_b_l p {
	height:25px;
	line-height:25px;
}
.fensi_b_l span{
	color:red;
}
.fensi_b_r {
	width:40px;
	float:right;
}
.zztj_list {
	margin-bottom:20px;
}
.zztj_list li a {
	color:#666666;
	font-size:14px;
	font-weight:bold;
	padding-left:25px;
	
}
.tlzp_list {
	margin-bottom:20px;
}
.tlzp_list li {
	margin:0px 20px;
	padding:5px 0px;
	height:60px;
	border-bottom:1px dashed #cccccc;
}
.tlzp_l,.tlzp_r {
	float:left;
}
.tlzp_r {
	padding-left:10px;text-align:left;
}
.tlzp_r h3,.tlzp_r p {
	width:135px;
	height:20px;
	line-height:20px;
	white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.tlzp_r h3 {
	font-size:12px;
	color:#557953;
}
.tlzp_r p {
	font-size:12px;
	color:#666666;
}