<script language="javascript">
{? if $slres=='f' ?}
        alert('更新Log失败');
{? /if ?}
{? if $slres=='s' ?}
        alert('更新Log成功\');
{? /if ?}
</script>

<h4>更新圈子LOG:</h4>
<table cellspacing=1>
<form method="post" name='upform' action='{? $setlog_href ?}' enctype='multipart/form-data' >
<input type='hidden' name='doup' value=1>
<tr align='center'>
	<td  ><image src="{? $imgsrc ?}"></td>
<tr align='center'>
	<td ><input class="text" onKeyDown="return false" type="file" name="gpic"></td>
</tr>
<tr align='center'>
	<td ><input class="button" type='submit' name='submit' value='上传' >
</tr>
</form>
</table>


