<br /><br />
<form name="frmbuyobook" method="post" action="{?$url_buyobook?}">
 <table class="grid" width="400" align="center">
    <caption>购买VIP章节</caption>
	<tr>
	  <td width="100" align="right" class="odd">章节列表：</td>
	  <td width="300" class="even">
	  <ul>
	  {?section name=i loop=$ochapterrows?} 
	  <li>{?$ochapterrows[i].obookname?} - {?$ochapterrows[i].chaptername?} ({?$ochapterrows[i].saleprice?})<input type="hidden" name="checkid[]" value="{?$ochapterrows[i].ochapterid?}"></li>
	  {?/section?}
	  </ul></td>
    </tr>
	<tr>
	  <td class="odd" align="right">合计价格：</td>
	  <td class="even">{?$saleprice?}{?$egoldname?}</td>
    </tr>
	<tr>
	  <td class="odd" align="right">购买用户：</td>
	  <td class="even">{?$username?}</td>
    </tr>
	<tr>
	  <td class="odd" align="right">现有余额：</td>
	  <td class="even">{?$useremoney?}{?$egoldname?}</td>
    </tr>
	<tr align="center">
	  <td colspan="2" class="odd"><input type="hidden" name="action" value="buy">
      <input type="hidden" name="oid" value="{?$oid?}">      <input type="submit" class="button" value="确定购买并阅读" name="submit"></td>
    </tr>
	<tr align="center">
	  <td colspan="2" class="foot"> <a href="{?$url_obookinfo?}">查看本书信息</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{?$url_buyegold?}">我的帐户充值</a>      </td> 
    </tr>
  </table>
</form><br /><br />