{?set jieqi_blocks_module = "obook"?}
{?set jieqi_blocks_config = "guideblocks"?}
<table class="grid" width="100%" align="center">
<caption>{?$obooktitle?}</caption>
  <tr align="center">
    <th width="20%">电子书名称</th>
    <th width="40%">最新章节</th>
    <th width="15%">作者</th>
	<th width="10%">字数</th>
	<th width="15%">更新</th>
  </tr>
  {?section name=i loop=$obookrows?}
  <tr>
    <td class="odd"><a href="{?$obookrows[i].url_obookinfo?}">{?$obookrows[i].obookname?}</a></td>
    <td class="even"><a href="{?$obookrows[i].url_lastchapter?}" target="_blank">{?$obookrows[i].lastchapter?}</a></td>
    <td class="odd">{?if $obookrows[i].authorid == 0?}{?$obookrows[i].author?}{?else?}<a href="{?function jieqi_geturl:'system':'user':$obookrows[i].authorid?}" target="_blank">{?$obookrows[i].author?}</a>{?/if?}</td>
	<td class="even" align="center">{?$obookrows[i].size_k?}K</td>
    <td class="odd" align="center">{?$obookrows[i].lastupdate?}</td>
  </tr>
  {?/section?}
</table>
<div class="pages">{?$url_jumppage?}</div>