<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{?$article_title?}最新章节吧,{?$article_title?}无弹窗全文阅读,{?$article_title?}快眼看书5200 - {?$jieqi_sitename?}</title>
<meta name="keywords" content="{?$article_title?}最新章节列表,{?$article_title?}无弹窗广告全文阅读,{?$article_title?}快眼看书5200">
<meta name="description" content="{?$jieqi_sitename?}提供({?$author?})大神最新作品《{?$article_title?}》最新章节全文免费阅读，{?$article_title?}txt下载，{?$article_title?}5200，{?$article_title?}无弹窗！请关注{?$article_title?}吧，本站最新最快更新{?$article_title?}最新章节。">
<meta name="author" content="{?$author?}" />
<link href="{?$articleid|subdirectory?}/{?$article_id?}/" rel="canonical" />
<meta name="mobile-agent"content="format=html5; url={?$jieqi_url?}{?$article_id|subdirectory?}/{?$article_id?}/">
<meta property="og:type" content="novel"/>
<meta property="og:title" content="{?$article_title?} 最新章节 免费全文阅读"/>
<meta property="og:description" content="{?$jieqi_sitename?}（{?$jieqi_url?}）提供{?$author?}的作品《{?$article_title?}》最新好看的章节，免费在线阅读，无广告干扰，并提供{?$article_title?}txt电子书下载服务。"/>
<meta property="og:image" content="{?$jieqi_url?}/files/article/image{?$articleid|subdirectory?}/{?$article_id?}/{?$article_id?}s.jpg"/>
<meta name="og:novel:category" content="{?$sortname?}"/>
<meta name="og:novel:status" content="连载中"/>
<meta name="og:novel:author" content="{?$author?}"/>
<meta name="og:novel:book_name" content="{?$article_title?}"/>
<meta name="og:novel:read_url" content="{?$jieqi_url?}{?$articleid|subdirectory?}/{?$article_id?}/"/>
<meta name="og:novel:author_link" content="{?$jieqi_url?}/modules/article/authorarticle.php?author={?$author?}"/>
<meta property="og:url" content="{?$articleid|subdirectory?}/{?$article_id?}/"/>
<link rel="stylesheet" type="text/css" href="/52mb/css/page.css"/>
<script type="text/javascript" src="/52mb/js/common.js"></script>
</head>

<body>

<div class="header">
<div class="topbar">
    <ul>
        <li id="home"><a href="{?$jieqi_url?}">{?$jieqi_sitename?}首页</a></li>
         <li id="bookcase"><a href="/modules/article/bookcase.php" target="_blank">我的书架</a></li>
        <li id="toplist"><a href="/quanben/" target="_blank">全本小说</a></li>
        <li id="quanben"><a href="/top/toptime.html" title="点击榜" target="_blank">点击榜</a></li>
        <li id="visit"><a href="/top/allvisit.html" target="_blank">口水榜</a></li>
        <li id="vote"><a href="/top/allvote.html" target="_blank">推荐榜</a></li>
        <li id="fav"><a href="/top/goodnum.html" target="_blank">收藏榜</a></li>
        <li id="so"><a href="/top/allvisit.html" target="_blank">好看的书</a></li>
        <li id="loginbarx"><a href="/userdetail.php" target="_blank">个人中心</a></li>
    </ul>
</div>
<div class="nav"><div class="nav-left"><strong class="lastupdate"><a href="/top/lastupdate.html">连载：</a></strong><a href="/mulu/1-1.html">玄幻</a><em>|</em><a href="/mulu/2-1.html">武侠</a><em>|</em><a href="/mulu/3-1.html">都市</a><em>|</em><a href="/mulu/4-1.html">历史</a><em>|</em><a href="/mulu/6-1.html">网游</a><em>|</em><a href="/mulu/7-1.html">科幻</a><em>|</em><a href="/mulu/5-1.html">推理</a><em>|</em><a href="/mulu/8-1.html">恐怖</a><em>|</em><a href="/mulu/9-1.html">穿越</a><em>|</em><a href="/mulu/10-1.html">其他</a></div>
<div class="nav-right"><strong class="quanben"><a href="/quanben/" target="_blank">完结：</a></strong><a href="/quanben/1-1.html">玄幻</a><em>|</em><a href="/quanben/2-1.html">修真</a><em>|</em><a href="/quanben/3-1.html">言情</a><em>|</em><a href="/quanben/4-1.html">军事</a><em>|</em><a href="/quanben/6-1.html">竞技</a><em>|</em><a href="/quanben/7-1.html">科幻</a><em>|</em><a href="/quanben/8-1.html">恐怖</a><em>|</em><a href="/quanben/9-1.html">穿越</a><em>|</em><a href="/quanben/10-1.html">其他</a></div>
</div>
</div>

<div class="read_page">
<div style="width:980px; margin:0 auto;margin-top:7px;"><script>mb_top();</script></div>
<div class="nowplace">您的位置：<a href="/">{?$jieqi_sitename?}</a> &gt; <a href="/mulu/{?$sortid?}-1.html">{?$sortname?}</a> &gt {?$article_title?}最新章节列表</div>
<div class="quanwen"><div class="book_info"><div class="book_cover"><img src="/files/article/image{?$articleid|subdirectory?}/{?$article_id?}/{?$article_id?}s.jpg" width="120" height="150" alt="{?$article_title?}" /><a href="/down/txt{?$article_id?}.html" target="_blank">{?$article_title?}TXT全集下载</a></div>
<div class="xiaoshuo"><div class="info_right"><script>mb_mulu1();</script></div>
<h1>{?$article_title?}</h1><h2>作者：<a href="/modules/article/authorarticle.php?author={?$author?}" title="{?$author?}作品全集" target="_blank">{?$author?}</a></h2>

<h5>{?$article_title?}最新章节：<a href="{?$articleid|subdirectory?}/{?$article_id?}/{?$lastchapterid?}.html">{?$lastchapter?}</a>  <script src="/modules/article/52mb.php?id={?$article_id?}&uptime="></script></h5><div class="intro"><h3>小说介绍：</h3><p id="intro">{?$intro?}</p></div>
</div>
</div>
<div class="tuijian">推荐阅读：
{?block bid="0" module="article" filename="block_articlelist" classname="BlockArticleArticlelist" side="0" title="" vars="allvote,10,0,0,0,0" template="52mb_nr_allvote.html" contenttype="2" custom="0" publish="3" hasvars="1"?}
</div>

<div class="book_article_url"><a href="{?$jieqi_url?}">{?$jieqi_sitename?}</a>{?$article_title?}章节列表目录地址：<a href="{?$jieqi_url?}{?$articleid|subdirectory?}/{?$article_id?}/">{?$jieqi_url?}{?$articleid|subdirectory?}/{?$article_id?}/</a> 请复制后分享给您的好友！</div>
<!--<div class="wrap"><script>list_a();</script></div>-->
<div class="novel_list" id="novel{?$article_id?}">
       {?section name=i loop=$indexrows?}{?if $indexrows[i].ctype == "volume"?}{?if $indexrows[i].vname == ""?}{?else?}<!--{?$indexrows[i].vname?}-->{?/if?}{?else?}
			<dl class="book_article_listtext">
            {?if $indexrows[i].cname1 == ""?}
            &nbsp;   
            {?else?}
            <dd><a href="{?$articleid|subdirectory?}/{?$article_id?}/{?$indexrows[i].cid1?}.html" >{?$indexrows[i].cname1?}</a></dd>
            {?/if?}
            {?if $indexrows[i].cname2 == ""?}
            &nbsp;   
            {?else?}
            <dd><a href="{?$articleid|subdirectory?}/{?$article_id?}/{?$indexrows[i].cid2?}.html" >{?$indexrows[i].cname2?}</a></dd>
            {?/if?}
            {?if $indexrows[i].cname3 == ""?}
            &nbsp;   
            {?else?}
            <dd><a href="{?$articleid|subdirectory?}/{?$article_id?}/{?$indexrows[i].cid3?}.html" >{?$indexrows[i].cname3?}</a></dd>
            {?/if?}
            </dl>
          {?/if?}
          {?/section?}
</div>
<script>mb_bottom();</script>
</div>
<div class="footer"><p class="copyright">《{?$article_title?}》是作者{?$author?}呕心沥血倾情打造！本站小说{?$article_title?}为转载作品，所有章节均由网友上传，转载至本站只是为了宣传{?$article_title?}让更多读者欣赏。<br /><a href="{?$articleid|subdirectory?}/{?$article_id?}/">{?$article_title?}最新章节</a>-<a href="{?$articleid|subdirectory?}/{?$article_id?}/">{?$article_title?}全文阅读</a>-<a href="/down/txt{?$article_id?}.html">{?$article_title?}txt下载</a>-<a href="/book/{?$article_id?}.html">{?$article_title?}</a><br />Copyright &copy; 2014 <a href="{?$jieqi_url?}">{?$jieqi_sitename?}</a>  All Rights Reserved.<br /><a href="{?$articleid|subdirectory?}/{?$article_id?}/">{?$article_title?}快眼看书5200</a> <script>mb_right();mb_duilian();mb_tongji();</script>
</div>
</div>

</body>

</html>