<div class="top">
    <div class="image"><a href="{?$articlerows.0.url_articleinfo?}" target="_blank"><img src="{?$articlerows.0.url_image?}" alt="{?$articlerows.0.articlename?}"></a></div>
	<dl>
		<dt><a href="{?$articlerows.0.url_articleinfo?}" target="_blank">{?$articlerows.0.articlename?}</a></dt>
		<dd>{?$articlerows.0.intro|truncate:60?}...</dd>
	</dl>
</div>
<ul>
<li><a href="{?$articlerows.1.url_articleinfo?}" target="_blank">{?$articlerows.1.articlename?}</a>/{?$articlerows.1.author?}</li>
<li><a href="{?$articlerows.2.url_articleinfo?}" target="_blank">{?$articlerows.2.articlename?}</a>/{?$articlerows.2.author?}</li>
<li><a href="{?$articlerows.3.url_articleinfo?}" target="_blank">{?$articlerows.3.articlename?}</a>/{?$articlerows.3.author?}</li>
<li><a href="{?$articlerows.4.url_articleinfo?}" target="_blank">{?$articlerows.4.articlename?}</a>/{?$articlerows.4.author?}</li>
<li><a href="{?$articlerows.5.url_articleinfo?}" target="_blank">{?$articlerows.5.articlename?}</a>/{?$articlerows.5.author?}</li>
<li><a href="{?$articlerows.6.url_articleinfo?}" target="_blank">{?$articlerows.6.articlename?}</a>/{?$articlerows.6.author?}</li>
<li><a href="{?$articlerows.7.url_articleinfo?}" target="_blank">{?$articlerows.7.articlename?}</a>/{?$articlerows.7.author?}</li>
<li><a href="{?$articlerows.8.url_articleinfo?}" target="_blank">{?$articlerows.8.articlename?}</a>/{?$articlerows.8.author?}</li>
<li><a href="{?$articlerows.9.url_articleinfo?}" target="_blank">{?$articlerows.9.articlename?}</a>/{?$articlerows.9.author?}</li>
<li><a href="{?$articlerows.10.url_articleinfo?}" target="_blank">{?$articlerows.10.articlename?}</a>/{?$articlerows.10.author?}</li>
<li><a href="{?$articlerows.11.url_articleinfo?}" target="_blank">{?$articlerows.11.articlename?}</a>/{?$articlerows.11.author?}</li>
<li><a href="{?$articlerows.12.url_articleinfo?}" target="_blank">{?$articlerows.12.articlename?}</a>/{?$articlerows.12.author?}</li>
</ul>