   	<div class="cimgsfont">
        <a class="imgcss" href="{?$articlerows.0.url_articleinfo?}"><img alt="{?$articlerows.0.articlename?}txtÏÂÔØ" src="{?$articlerows.0.url_image?}"><i class="nbicos"></i></a>
        <h3><a href="{?$url_articleinfo?}">{?$articlerows.0.articlename?}</a></h3>
        ×÷Õß£º<a href="/modules/article/authorarticle.php?author={?$articlerows.0.author?}">{?$articlerows.0.author?}</a>
        <p>&nbsp;&nbsp;{?$articlerows.0.intro|truncate:"60"?}...</p>
    </div>
    <ol>
        <li><span>{?$articlerows.1.allvisit?}</span><a href="{?$articlerows.1.url_articleinfo?}">{?$articlerows.1.articlename?}</a></li>
        <li><span>{?$articlerows.2.allvisit?}</span><a href="{?$articlerows.2.url_articleinfo?}">{?$articlerows.2.articlename?}</a></li>
        <li><span>{?$articlerows.3.allvisit?}</span><a href="{?$articlerows.3.url_articleinfo?}">{?$articlerows.3.articlename?}</a></li>
        <li><span>{?$articlerows.4.allvisit?}</span><a href="{?$articlerows.4.url_articleinfo?}">{?$articlerows.4.articlename?}</a></li>
        <li><span>{?$articlerows.5.allvisit?}</span><a href="{?$articlerows.5.url_articleinfo?}">{?$articlerows.5.articlename?}</a></li>
        <li><span>{?$articlerows.6.allvisit?}</span><a href="{?$articlerows.6.url_articleinfo?}">{?$articlerows.6.articlename?}</a></li>
        <li><span>{?$articlerows.7.allvisit?}</span><a href="{?$articlerows.7.url_articleinfo?}">{?$articlerows.7.articlename?}</a></li>
        <li><span>{?$articlerows.8.allvisit?}</span><a href="{?$articlerows.8.url_articleinfo?}">{?$articlerows.8.articlename?}</a></li>
        <li><span>{?$articlerows.9.allvisit?}</span><a href="{?$articlerows.9.url_articleinfo?}">{?$articlerows.9.articlename?}</a></li>
        <li><span>{?$articlerows.10.allvisit?}</span><a href="{?$articlerows.10.url_articleinfo?}">{?$articlerows.10.articlename?}</a></li>
        <li><span>{?$articlerows.11.allvisit?}</span><a href="{?$articlerows.11.url_articleinfo?}">{?$articlerows.11.articlename?}</a></li>
        <li><span>{?$articlerows.12.allvisit?}</span><a href="{?$articlerows.12.url_articleinfo?}">{?$articlerows.12.articlename?}</a></li>
    </ol>