
<TABLE style="COLOR: #003399; BORDER-COLLAPSE: collapse" cellSpacing=0 
cellPadding=0 width="82%" border=0>
  <TBODY>
  <TR align=left>
    <TD width="795" height="0" vAlign=bottom>激活步骤：[<font style="color:#ff0000">用杰奇用户名和密码登录</font>] -&gt; 
      [填写BLOG信息] -&gt; [激活完成] </TD>
</TR></TBODY></TABLE>
<TABLE width="80%" height="50" border=0 
cellPadding=0 cellSpacing=0 bgcolor="#FFFFFF" style="COLOR: #003399; BORDER-COLLAPSE: collapse">
  
  <TR>
    <TD vAlign=top width=473><BR>
      <TABLE width="85%" height="202" border=1 cellPadding=6 cellSpacing=0 
      borderColor=#cccccc style="COLOR: #003399; BORDER-COLLAPSE: collapse">
        <TBODY>
        <TR>
          <TD height=202>请填写你的blog文件名:  
            <TABLE style="COLOR: #ff6600; BORDER-COLLAPSE: collapse" 
            cellSpacing=0 cellPadding=0 width=417 border=0>
              <FORM action="" method=post>
			  <input type="hidden" name="action" value="active" >
              <TR>
                <TD width="417"  height=50><p>http://www.jieqi.com/modules/blog/
                    <input name="bgdomain" type="text" size="10" >
                 </TD>
              </TR>
			  <TR><TD><font style="color:#FF0000">{? $error_msg ?}</font></TD></TR>
			  <TR>
			    <td align="center"><input class="button" name="useractive" type="submit" value="提交"></td>
			  </TR>
			  </FORM>
			  </TABLE>
			  <iframe id="checkform"  marginheight="0" marginwidth="0" name="check_frame"  src="http://localhost/jieqicms0107/checkuser.php" frameborder=auto width="0" height="0" scrolling="no"></iframe>
			  <BR>
              <BR>
            <BR> 
        <BR>
    <BR>
    <BR>
    </P></TD></TR></TABLE></TD>
    <TD width="306" vAlign=top><BR>
      <TABLE style="COLOR: #003399; BORDER-COLLAPSE: collapse" 
      borderColor=#cccccc cellSpacing=0 cellPadding=6 width="100%" border=1>
        <TBODY>
        <TR>
          <TD vAlign=top height=201><B>小提示：</B><BR>
    		 <P  style="MARGIN: 5px; LINE-HEIGHT: 150%">你blog的用帐户信息与杰奇帐户信息完全一致.</P>
    		 <P  style="MARGIN: 5px; LINE-HEIGHT: 150%">你的blog地址为:</P>
    		 <P  style="MARGIN: 5px; LINE-HEIGHT: 150%">http://你的blog文件.jieqi.com</P>
    <P  style="MARGIN: 5px; LINE-HEIGHT: 150%">http://www.jieqi.com/moudes/blog/你的blog文件名/  </P></TD></TR></TBODY></TABLE></TD>
    <TD width=1></TD>
</TR></TBODY></TABLE>
<BR>
</CENTER>
</BODY></HTML>

