<table class="grid" width="80%" align="center">
  <form action="{? $href_submit ?}" method="post">
    <tr>
      <td class="title" colspan="2">管理组权限设置_{? $membergtitle ?}</td>
    </tr>
	
	<tr >
      <td class="odd"width="50%">基本设置:</td>
      <td class="odd"><input value="1" type="radio" name="allowmanbasic" {? $allowmanbasic_checked_1 ?} >
        是&nbsp;&nbsp;
        <input type="radio" name="allowmanbasic" {? $allowmanbasic_checked_0 ?} >
        否</td>
    </tr>
	
	<tr >
      <td class="odd"width="50%">管理话题:</td>
      <td class="odd"><input value="1" type="radio" name="allowmantopic" {? $allowmantopic_checked_1 ?} >
        是&nbsp;&nbsp;
        <input type="radio" name="allowmantopic" {? $allowmantopic_checked_0 ?} >
        否</td>
    </tr>
	
	<tr >
      <td class="odd"width="50%">管理相册:</td>
      <td class="odd"><input value="1" type="radio" name="allowmanalbum" {? $allowmanalbum_checked_1 ?} >
        是&nbsp;&nbsp;
        <input type="radio" name="allowmanalbum" {? $allowmanalbum_checked_0 ?} >
        否</td>
    </tr>
	
	<tr >
      <td class="odd"width="50%">管理活动:</td>
      <td class="odd"><input value="1" type="radio" name="allowmanparty" {? $allowmanparty_checked_1 ?} >
        是&nbsp;&nbsp;
        <input type="radio" name="allowmanparty" {? $allowmanparty_checked_0 ?} >
        否</td>
    </tr>
	
	
	
	<tr >
      <td class="odd"width="50%">管理成员:</td>
      <td class="odd"><input value="1" type="radio" name="allowmanmember" {? $allowmanmember_checked_1 ?} >
        是&nbsp;&nbsp;
        <input type="radio" name="allowmanmember" {? $allowmanmember_checked_0 ?} >
        否</td>
    </tr>
  
    <tr align='center'>
      <td class="odd" colspan="2"><br>
        <input class="button" type="reset" value="重置">
        &nbsp;&nbsp;
        <input class="button" type="submit" value="提交" ></td>
    </tr>
  </form>
</table>
