<br />
<form method="post" name="post" action="{?$url_pay?}">
 <table class="grid" width="600" align="center">
    <caption>欢迎使用在线支付系统</caption>
    <tr class="odd"> 
      <td>
	  <br />
	  您好，{?$buyname?}!
	  <br /><br />
	  您选择的交易类型为：
	  <br /><br />
	  <span class="hottext">
	  * 购买{?$egold?}点{?$egoldname?}，合计人民币：{?$money?}元</span>
	  <br /><br />
	  确认购买请点击“进入下一步”。
	  <br />
	  <br />
	  </td>
    </tr>
    <tr class="even"> 
      <td height="30" valign="middle">
	  <input type="hidden" name="cp_id"    value="{?$cp_id?}">
      <input type="hidden" name="prod_id"    value="{?$prod_id?}">
      <input type="hidden" name="rand_id" value="{?$rand_id?}">
	  <input type="hidden" name="pay_id" value="{?$pay_id?}">
	  <input type="hidden" name="valid_time" value="{?$valid_time?}">
	  <input type="hidden" name="money_type" value="{?$money_type?}">
	  <input type="hidden" name="price"    value="{?$price?}">
      <input type="hidden" name="md5"    value="{?$md5?}">
      <input type="hidden" name="sessionid" value="{?$sessionid?}">
      <input type="submit" class="button" value=" 进入下一步 " name="v_action">
	  </td>
    </tr>
  </table>
</form>
<br /><br />