<br />
<form method="post" name="post" action="{?$url_pay?}">
 <table class="grid" width="600" align="center">
    <caption>欢迎使用在线支付系统</caption>
    <tr class="odd"> 
      <td>
	  <br />
	  您好，{?$buyname?}!
	  <br /><br />
	  您选择的交易类型为：
	  <br /><br />
	  <span class="hottext">
	  * 购买{?$egold?}点{?$egoldname?}，合计人民币：{?$money?}元</span>
	  <br /><br />
	  确认购买请点击“进入下一步”。
	  <br />
	  <br />
	  </td>
    </tr>
    <tr class="even"> 
      <td height="30" valign="middle">
	  <input type="hidden" name="v_mid"    value="{?$v_mid?}">
      <input type="hidden" name="v_oid"    value="{?$v_oid?}">
      <input type="hidden" name="v_amount" value="{?$v_amount?}">
	  <input type="hidden" name="v_moneytype" value="{?$v_moneytype?}">
	  <input type="hidden" name="v_url" value="{?$v_url?}">
	  <input type="hidden" name="v_md5info" value="{?$v_md5info?}">
	  <input type="hidden" name="style" value="{?$style?}">
	  <input type="hidden" name="remark1" value="{?$remark1?}">
	  <input type="hidden" name="remark2" value="{?$remark2?}">
      <input type="submit" class="button" value=" 进入下一步 " name="v_action">
	  </td>
    </tr>
  </table>
</form>
<br /><br />