<br />
<form method="post" name="post" action="{?$url_pay?}">
 <table class="grid" width="600" align="center">
    <caption>欢迎使用在线支付系统</caption>
    <tr class="odd"> 
      <td>
	  <br />
	  您好，{?$buyname?}!
	  <br /><br />
	  您选择的交易类型为：
	  <br /><br />
	  <span class="hottext">
	  * 购买{?$egold?}点{?$egoldname?}，合计人民币：{?$money?}元</span>
	  <br /><br />
	  确认购买请点击“进入下一步”。
	  <br />
	  <br />
	  </td>
    </tr>
    <tr class="even"> 
      <td height="30" valign="middle">
	  <input type="hidden" name="Mer_code"    value="{?$Mer_code?}">
      <input type="hidden" name="Billno"    value="{?$Billno?}">
      <input type="hidden" name="Amount" value="{?$Amount?}">
	  <input type="hidden" name="Date" value="{?$Date?}">
	  <input type="hidden" name="Currency" value="{?$Currency?}">
	  <input type="hidden" name="Merchanturl" value="{?$Merchanturl?}">
	  <input type="hidden" name="Lang"    value="{?$Lang?}">
      <input type="hidden" name="Attach"    value="{?$Attach?}">
      <input type="hidden" name="RetEncodeType" value="{?$RetEncodeType?}">
	  <input type="hidden" name="OrderEncodeType" value="{?$OrderEncodeType?}">
	  <input type="hidden" name="Rettype" value="{?$Rettype?}">
	  <input type="hidden" name="SignMD5" value="{?$SignMD5?}">
	  <input type="hidden" name="Signmd5_all" value="{?$Signmd5_all?}">
      <input type="submit" class="button" value=" 进入下一步 " name="v_action">
	  </td>
    </tr>
  </table>
</form>
<br /><br />