<table class="grid" width="600" align="center">
  <caption>移动联通短信支付</caption>
  <tr>
    <td class="even">
&nbsp;&nbsp;&nbsp;&nbsp;1、移动/联通用户发送短信 XX 到 YYYY<br />
&nbsp;&nbsp;&nbsp;&nbsp;2、发送后您将收到交易确认短信，里面包含本次交易序号和冲值密码。<br />
&nbsp;&nbsp;&nbsp;&nbsp;3、请先登陆本站，您将在下方看到等待确认的交易，根据交易序号输入对应的冲值密码即完成本次冲值。</td>
  </tr>
</table>
<br />
<table class="grid" width="600" align="center">
  <caption>冲值确认</caption>
  <tr>
    <td class="even">
	{?if $islogin == 1?}
	<form name="frmlogin" method="post" action="{?$url_confirm?}">
 <table class="grid" width="250" align="center">
    <caption>请输入交易序号和密码</caption>
    <tr align="center">
      <td class="odd"><table class="hide" width="100%"  border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td width="37%" align="right" valign="middle">交易序号：</td>
          <td width="63%"><input type="text" class="text" size="20" maxlength="30" name="orderid"></td>
        </tr>
        <tr>
          <td align="right" valign="middle">交易密码：</td>
          <td><input type="password" class="text" size="20" maxlength="30" name="buypass"></td>
        </tr>
        <tr align="center">
          <td colspan="2">
<input type="submit" class="button" value="&nbsp;确&nbsp;&nbsp;认&nbsp;" name="submit0"></td>
          </tr>
      </table></td>
    </tr>
	<tr align="center"> 
      <td class="foot">&nbsp;</td>
    </tr>
  </table>
</form>
	{?else?}
	<form name="frmlogin" method="post" action="{?$url_login?}">
 <table class="grid" width="250" align="center">
    <caption>请先登陆</caption>
    <tr align="center">
      <td class="odd"><table class="hide" width="100%"  border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td width="37%" align="right" valign="middle">用户名：</td>
          <td width="63%"><input type="text" class="text" size="20" maxlength="30" name="username" onKeyPress="javascript: if (event.keyCode==32) return false;" ></td>
        </tr>
        <tr>
          <td align="right" valign="middle">密　码：</td>
          <td><input type="password" class="text" size="20" maxlength="30" name="password"></td>
        </tr>
        {?if $show_checkcode == 1?}
        <tr>
          <td align="right" valign="middle">验证码：</td>
          <td><input type="text" class="text" size="8" maxlength="8" name="checkcode">&nbsp;<img src="{?$url_checkcode?}"></td>
        </tr>
        {?/if?}
        <tr align="center">
          <td colspan="2"><input type="hidden" name="action" value="login">
            <input type="checkbox" class="checkbox" name="usecookie" value="1">
记录cookie&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" class="button" value="&nbsp;登&nbsp;&nbsp;录&nbsp;" name="submit1"></td>
          </tr>
      </table></td>
    </tr>
	<tr align="center"> 
      <td class="foot"> <a href="{?$url_register?}">新用户注册</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{?$url_getpass?}">取回密码</a> 
      </td>
    </tr>
  </table>
</form>
{?/if?}
    </td>
  </tr>
</table>
<br />
