<br />
<form method="post" name="post" action="{?$url_pay?}">
 <table class="grid" width="600" align="center">
    <caption>欢迎使用在线支付系统</caption>
    <tr class="odd"> 
      <td>
	  <br />
	  您好，{?$buyname?}!
	  <br /><br />
	  您选择的交易类型为：
	  <br /><br />
	  <span class="hottext">
	  * 购买{?$egold?}点{?$egoldname?}，合计人民币：{?$money?}元</span>
	  <br /><br />
	  确认购买请点击“进入下一步”。
	  <br />
	  <br />
	  </td>
    </tr>
    <tr class="even"> 
      <td height="30" valign="middle">
	  <input type="hidden" name="merchantID"    value="{?$merchantID?}">
      <input type="hidden" name="interfaceType"    value="{?$interfaceType?}">
      <input type="hidden" name="orderID" value="{?$orderID?}">
	  <input type="hidden" name="merchantURL" value="{?$merchantURL?}">
	  <input type="hidden" name="submitSURL" value="{?$submitSURL?}">
	  <input type="hidden" name="submitFURL" value="{?$submitFURL?}">
	  <input type="hidden" name="goodsID"    value="{?$goodsID?}">
      <input type="hidden" name="countNumber"    value="{?$countNumber?}">
      <input type="hidden" name="amount" value="{?$amount?}">
	  <input type="hidden" name="currentType" value="{?$currentType?}">
	  <input type="hidden" name="noticeType" value="{?$noticeType?}">
	  <input type="hidden" name="md5Info" value="{?$md5Info?}">
      <input type="submit" class="button" value=" 进入下一步 " name="v_action">
	  </td>
    </tr>
  </table>
</form>
<br /><br />