<table class="biaoge">
                    <tr>
                      <td>客服QQ:</td>
                      <td><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1794373056&site=qq&menu=yes" rel="nofollow"><img src="/themes/chaoliu/images/qq_kefu.gif" /></a></td>
                  
                    </tr>
                    <tr>
                      <td>编辑QQ:</td>
                      <td><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=9871581&site=qq&menu=yes"  rel="nofollow" ><img src="/themes/chaoliu/images/qq_nanpin.gif" /></a></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td><a target="_blank" href="tencent://message/?uin=743484662&Site=-&Menu=yes"  rel="nofollow" ><img src="/themes/chaoliu/images/qq_nvpin1.gif" /></a></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td><a target="_blank" href="tencent://message/?uin=295743468&Site=-&Menu=yes"  rel="nofollow" ><img src="/themes/chaoliu/images/qq_nvpin2.gif" /></a></td>
                    </tr>
                    <tr>
                      <td>招募QQ:</td>
                      <td><a target="_blank" href="tencent://message/?uin=156837106&Site=-&Menu=yes"  rel="nofollow" ><img src="/themes/chaoliu/images/qq_zhaomu.gif" /></a></td>
                    </tr>
                    <tr>
                      <td>投稿邮箱:</td>
                      <td><p class="red">&nbsp;SKY_editor@126.com</p></td>
                    </tr>
                    <tr>
                      <td colspan="2">男频6万+大纲、女频3万+大纲</td>
                    </tr>
                    </table>