<style type="text/css">
<!--
ul.chaplist{
	list-style: none;
	clear: both;
	text-align: left;
	width: 100%;
}

li.chapter{
	float: left;
	width: 49%;
	line-height: 150%;
}

li.volume{
	width: 100%;
	clear: both;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 150%;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
}

ul.packflag{
	list-style: none;
	clear: both;
	text-align: left;
	width: 100%;
}

ul.packflag li{
	float: left;
	width: 49%;
	line-height: 150%;
}
-->
.geshi{width:32%;float:left;margin-top:5px;line-height:25px;height:25px;}
</style>

<table class="grid" cellspacing="1" width="100%" align="center">
 <caption>《{?$articlename?}》[<a href="{?$url_articleinfo?}" target="_blank">信息</a>] [<a href="{?$url_articleindex?}" target="_blank">阅读</a>]</caption>
 <tr>
   <td align="center" class="head">
   [<a href="{?$article_static_url?}/newvolume.php?aid={?$articleid?}">新建分卷</a>] 
   [<a href="{?$article_static_url?}/newchapter.php?aid={?$articleid?}">增加章节</a>] 
   [<a href="{?$article_static_url?}/articleedit.php?id={?$articleid?}">编辑文章</a>] 
   [<a href="javascript:if(confirm('确实要删除该文章么？')) document.location='{?$article_static_url?}/articledel.php?id={?$articleid?}';">删除文章</a>] 
   [<a href="javascript:if(confirm('确实要清空（删除所有章节）该文章么？')) document.location='{?$article_static_url?}/articleclean.php?id={?$articleid?}';">清空文章</a>] 
   [<a href="{?$article_dynamic_url?}/reviews.php?aid={?$articleid?}">管理书评</a>] 
   {?if $articlevote > 0?}
   [<a href="{?$article_static_url?}/votenew.php?aid={?$articleid?}">新建投票</a>] 
   [<a href="{?$article_static_url?}/votearticle.php?id={?$articleid?}">管理投票</a>]
   {?/if?}
   [<a href="{?$article_static_url?}/cuigengmanage.php?id={?$articleid?}">查看催更</a>]
   </td>
 </tr>
 <tr>
 <td class="odd">

 {?if $todaynums > 0?}
    <div style="width:100%;text-align:center;border-bottom:1px #ccc solid;font-size:14px;height:30px;line-height:30px;">以下是读者今天投给您的催更票,合计{?$todaynums?}雨币，别辜负读者的期望哦！</div>
    <div style="width:100%;">
        <div class="geshi">用户</div><div class="geshi">所投雨币</div><div class="geshi">催更时间</div>
    </div>
    <div style="clear:both;"></div>
 {?section name=i loop=$cuigengpiao?}
    <div style="width:100%;border-bottom:1px #ccc dashed;">
        <div class="geshi">{?$cuigengpiao[i].uname?}</div><div class="geshi">{?$cuigengpiao[i].nums?}</div><div class="geshi">{?$cuigengpiao[i].dateline|date:"H:i:s"?}</div>
    </div>
    <div style="clear:both;"></div>
 {?/section?}
 {?else?}
    <div style="width:100%;text-align:center;border-bottom:1px #ccc solid;font-size:14px;height:30px;line-height:30px;">今天还没有催更票，请再接再厉</div>
 {?/if?}
 </td>
 </tr>
 <tr>
    <td style="height:30px;line-height:30px;">累计已获得催更雨币总数为：<font style="color:red;font-weight:bold;">{?$zongshu?}</font>
 </tr>
</table>